* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times;
}
body {
  background-image: url('https://i.postimg.cc/XJH9L58P/That-B-Corola-Baskets.png');
  background-size: auto;
  background-repeat: no-repeat;
}
html {
  font-size: 12px;
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background-image: url("https://i.postimg.cc/C1GcLrNp/Untitled-design-2.png");
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
 #restart {
  font-size: 1.1em;
  padding: 1em;
  border-radius: 3px;
  background-color: #000000;
  color: transparent;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block; 
}
.popup {
background: url('https://i.postimg.cc/7PQmKDmF/Tic-Tac-Tiger-Bro.png');
  height: 75%;
  width: 75%;
  position: relative;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 8vmin;
}
#new-game {
  font-size: 0.4em;
  padding: 0.5em 1em;
  background-color:;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
}
#message {
  color: purple;
  text-align: center;
  font-size: 2em;
}
.popup.hide {
  display: none;
}
