* {margin: 0; padding: 0; user-select: none; text-transform: uppercase;}
body {background-image: url('https://i.postimg.cc/RZpkQb7F/bg.png'); }
h2#game-message
{
	font-size: 60px; 
	font-family: Tahoma;
	margin-bottom: 15px;
	text-align: center;
}
div#game-board
{
	overflow: hidden;
	margin: 20px auto;
	width:870px;
}
div[id^="row-"] {clear: both;}
div [id^="row-"] div
{
	//border: 30px solid plum;
	height: 270px;
	width: 270px;
	float: left;
	text-align: center;
	font-family: Tahoma;
	font-size: 175px;
	
	border-width: 15px;
    border-style: solid;
    border-image: url('../img/border.jpg') 25% repeat;
}
div#row-1 div {border-top: none;}
div#row-3 div {border-bottom: none;}
div[id^="row-"] div:first-child {border-left: none}
div[id^="row-"] div:last-child {border-right: none}

#button
{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-width: 5px;
    border-style: solid;
    border-image: url('../img/borderr.png') 25% round;

}
#restartButton
{
	position: absolute;
	left: 880px;
	top: 1075px;
}
@keyframes rotation 
{
	from {
			transform: rotate(0deg);
	}
	to {
			transform: rotate(359deg);
	}
}
@keyframes slide {
	0% {left: 0;}
    100% { left: 1500px;}
}
#game-board
{
	position: relative;
}
